{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Create New Listing</h1>
    {% load crispy_forms_tags %}

        <form action="{% url 'create_listing' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group w-75">
                <table>
                    {{ form | crispy }}
                </table>
                <input type="submit" value="Save" class="btn btn-primary">
            </div>
        </form>

{% endblock %}